@use "../utilities/variable";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-image: linear-gradient(variable.$color-principal, variable.$color-terciario, variable.$color-principal);
    color: variable.$color-secundario;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
// rgb(74, 30, 113)

p {
    font-size: 20px;
    width: 100%;
}

h1 {
    text-align: center;
}

