* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: rgb(74, 30, 113);
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


p {
    font-size: 20px;
    width: 100%;
}

h1, h2 {
    text-align: center;
}

