@use "../utilities/variable";
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    background-color: variable.$color-principal;
    color: black;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
// rgb(74, 30, 113)

p {
    font-size: 20px;
    width: 100%;
}

h1, h2 {
    text-align: center;
}

