@use "./variable";

%titulos {
    text-align: center;
    font-size: 60px;
    margin-top: 30px;
    text-decoration: underline;
}

%parrafo {
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-bottom: 20px;
    text-align: center;
}

%cuadros {
    padding-left: 20px;
    padding-right: 20px;
    border: variable.$bordes;
    text-align: center;
}