@use "../utilities/variable";
footer {
    background-color: black;
    color: variable.$color-principal;
    font-size: 22px;
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: auto;

    ul {
        list-style-type: none;
        padding: 0;
    }

    .pie-primera-parte {
        margin-top: 10px;
        margin-left: 0px;

        .foto-redes {
            width: 22px;
            height: 22px;
        }

        .link-hunters {
            color: variable.$color-principal;
            text-decoration: none;
        }
    }

    .pie-segunda-parte {
        text-align: right;
        margin-right: 10px;
        margin-top: 10px;

        .foto-redes {
            width: 22px;
            height: 22px;
        }
    }

}