@use "../utilities/variable";
@use "../utilities/extend";
@use "../utilities/mixin";

main {
    .titulo-secundario {
        @extend %titulos;
        font-size: 50px;
    }

    .proximas-carreras {
        text-align: center;
        font-size: 40px;
    }

    .calendario-carreras {
        margin-top: 30px;
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        gap: 100px;
        flex-wrap: wrap;
    }

    .foto-carrera {
        @include mixin.fotos (300px, 300px);
    }


    .carreras {
        @extend %cuadros;
        padding-left: 0;
        padding-right: 0;
    }

    .nombre-carrera {
        margin-top: 10px;
    }
}