@use "../utilities/variable";
@use "../utilities/extend";

main {
    .imagen-principal {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        height: auto;
        margin-top: 20px;
    }

    .parrafo-inicio {
        @extend %parrafo;
    }

    .titulo-principal {
        @extend %titulos;
    }
}