@use "../utilities/variable";
main{
    .imagen-principal {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 70%;
        height: auto;
        margin-top: 20px;
    }
    .parrafo-inicio {
        margin-top: 20px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
        text-align: center;
    }
    .titulo-principal {
        text-align: center;
        font-size: 60px;
        margin-top: 30px;
        text-decoration: underline;
    }
    }