@use "../utilities/variable";
@use "../utilities/extend";
@use "../utilities/mixin";

main {
    .miembros {
        @include mixin.mixin-grid (30px, 30px, 30px, grid, 1fr 1fr 1fr 1fr, 30px);
    }

    .integrante {
        display: flex;
        flex-direction: column;
        text-align: center;
        margin-top: 10px;
    }

    .link-integrante {
        margin-top: 10px;
        color: variable.$color-secundario;
        text-decoration: none;
    }

    .link-integrante:hover {
        color: rgb(3, 3, 145);
    }

    .foto-integrante {
        @include mixin.fotos (100%, 370px);
    }
}