main{
    .foto-caja {
        width: 250px;
        height: auto
    }

    .que-es-ocr {
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-top: 40px;
        margin-left: 20px;
        margin-right: 20px;
        margin-bottom: 20px;
        align-items: center;
        padding: 2px;
    }
    
    h2 {
        font-size: 45px;
        margin-top: 10px;
        text-decoration: underline;
    }

    h3 {
        font-size: 35px;
        margin-top: 10px;
    }
    
    .lista-que-es-ocr {
        font-size: 30px;
        margin-top: 10px;
    }
}