main{
    .foto-caja {
        width: 250px;
        height: 250px;
    }

    .que-es-ocr {
        text-align: center;
        margin-top: 20px;
        margin-left: 150px;
        margin-right: 150px;
        margin-bottom: 20px;
    }
    
    h2 {
        font-size: 45px;
        margin-top: 10px;
        text-decoration: underline;
    }

    h3 {
        text-align: center;
        font-size: 35px;
        margin-top: 15px;
        text-decoration: underline;
    }

    h4{
        text-decoration: underline;
    }
    .tipos-obstaculos{
        display: flex;
        justify-content: space-between;
        margin-top: 30px;
        margin-left: 150px;
        margin-right: 150px;
        align-items: center;
        border: 2px solid black;
    }
}